{% extends 'base.html' %}


{% block 'conteudo' %} 
    <div style="text-align: center" class="container">
        <img width = "50%" src="{{livro.img.url}}">
        <h1>{{livro.nome}}</h1>
        <h2>Genero: {{livro.categoria}}</h2>
        <h2>Autor: {{livro.autor}}</h2>
        <h3>Data de lancamento: {{livro.data_lancamento}}</h3>
        <h4>Data de emprestimo: {{livro.data_emprestimo}}</h4>
        <h4>Data de devolução: {{livro.data_devolucao}}</h4>
        {% if livro.emprestado %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
            </svg>
            Emprestado
            <br>
            <button type="button" class="btn btn-outline-success">Ja emprestado</button>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
            </svg>
            Disponivel
            <br>
            <button type="button" class="btn btn-outline-primary">Pedir</button>
        {% endif %}
        <br>
        <button>Ver histórico de emprestimo</button>

    </div>
{% endblock %}